#include <behaviors.dtsi> #include <dt-bindings/zmk/keys.h> #include <dt-bindings/zmk/mouse.h>
/ {
    combos {
        compatible = "zmk,combos";
        combo_layer3 {
            timeout-ms = <50>;
            key-positions = <18 19>;
            bindings = <&mo 3>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // Layer 0: Base QWERTY
            // Left side                             Right side
            // -----------------------------------------
            // Q     W     E     R     T             Y     U     I     O     P
            // A/L1  S/L2  D/L3  F/L4  G             H     J     K     L     RET/L5
            // Z/SFT X     C     V     B             N     M     ,     .     //SFT
            //       LEFT  RGHT                                  ;     '
            //             CTL/ESC GUI ALT   1       1     UP    BSPC  SPC
            //                           DEL 1       1     DOWN
            bindings = <
                &kp Q         &kp W    &kp E    &kp R    &kp T                            &kp Y    &kp U  &kp I      &kp O    &lt CAPS P
                &kp A         &lt 1 S  &lt 2 D  &lt 3 F  &kp G                            &kp H    &kp J  &kp K      &kp L    &lt 1 RET
                &mt LSHIFT Z  &kp X    &kp C    &kp V    &kp B                            &kp N    &kp M  &kp COMMA  &kp DOT  &mt RSHIFT FSLH
                              &kp LEFT &kp RIGHT                                                          &kp SEMI   &kp APOS
                              &mt LCTRL ESC &kp LGUI &kp LALT  &kp N1        &kp N1    &kp UP  &kp BSPC   &kp SPC
                                                     &mo 1     &kp N1        &kp N1    &kp DOWN
            >;


        num_sym_layer {
            // Layer 1: Numbers and Symbols (hold A)
            // Left: symbols                         Right: numpad
            // -----------------------------------------
            // S-TAB TAB   {     }     |             =     7     8     9     *
            // $     `     (     )     \             +     4     5     6     /
            // %     ~     [     ]     `             -     1     2     3     *
            //       _     _                                     0     /
            //             _     ^     =     _       _     _     _     _
            //                         _     _       _     _
            bindings = <
                &kp LS(TAB)   &kp TAB    &kp LBRC  &kp RBRC  &kp PIPE                         &kp EQUAL  &kp N7  &kp N8  &kp N9  &kp STAR
                &kp DOLLAR    &kp GRAVE  &kp LPAR  &kp RPAR  &kp BSLH                         &kp PLUS   &kp N4  &kp N5  &kp N6  &kp FSLH
                &kp PERCENT   &kp TILDE  &kp LBKT  &kp RBKT  &kp GRAVE                        &kp MINUS  &kp N1  &kp N2  &kp N3  &kp STAR
                              &kp LG(LS(TAB))     &kp LG(TAB)                                                                 &kp N0  &kp FSLH
                              &trans     &trans  &trans  &trans           &trans      &trans     &trans  &trans
                                                              &trans  &trans    &trans      &trans
            >;
        };

        sym_layer {
            // Layer 2: Shifted Symbols (hold S)
            // Left: transparent                     Right: shifted number symbols
            // -----------------------------------------
            // _     _     _     _     _             =     &     *     (     *
            // _     _     _     _     _             +     $     %     ^     /
            // _     _     _     _     _             -     !     @     #     *
            //       _     _                                     )     /
            //             _     _     _     _       _     _     _     _
            //                         _     _       _     _
            bindings = <
                &trans  &trans  &trans  &trans  &trans                              &kp EQUAL &kp LS(N7)   &kp LS(N8)   &kp LS(N9)    &kp STAR
                &trans  &trans  &trans  &trans  &trans                              &kp PLUS  &kp LS(N4)   &kp LS(N5)   &kp LS(N6)    &kp FSLH
                &trans  &trans  &trans  &trans  &trans                              &kp MINUS &kp LS(N1)   &kp LS(N2)   &kp LS(N3)    &kp STAR
                        &trans  &trans                                                        &kp LS(N0)   &kp FSLH
                                &trans  &trans  &trans &trans     &trans  &trans    &trans    &trans
                                                &trans &trans     &trans  &trans
            >;
        };

        hyper_layer {
            // Layer 5: Hyper Keys (hold RET)
            // Hyper = Cmd+Ctrl+Alt modifier on all letter keys
            // -----------------------------------------
            // H-Q   H-W   H-E   H-R   H-T           H-Y   H-U   H-I   H-O   H-P
            // H-A   H-S   H-D   H-F   H-G           H-H   H-J   H-K   H-L   _
            // H-Z   H-X   H-C   H-V   H-B           H-N   H-M   _     _     _
            //       _     _                                     _     _
            //             G-S-~ G-~   _     _       _     _     _     _
            //                         _     _       _     _
            bindings = <
                &kp LC(LA(LG(Q)))  &kp LC(LA(LG(W)))  &kp LC(LA(LG(E)))  &kp LC(LA(LG(R)))  &kp LC(LA(LG(T)))      &kp LC(LA(LG(Y)))  &kp LC(LA(LG(U)))  &kp LC(LA(LG(I)))  &kp LC(LA(LG(O)))  &kp LC(LA(LG(P)))
                &kp LC(LA(LG(A)))  &kp LC(LA(LG(S)))  &kp LC(LA(LG(D)))  &kp LC(LA(LG(F)))  &kp LC(LA(LG(G)))      &kp LC(LA(LG(H)))  &kp LC(LA(LG(J)))  &kp LC(LA(LG(K)))  &kp LC(LA(LG(L)))  &trans
                &kp LC(LA(LG(Z)))  &kp LC(LA(LG(X)))  &kp LC(LA(LG(C)))  &kp LC(LA(LG(V)))  &kp LC(LA(LG(B)))      &kp LC(LA(LG(N)))  &kp LC(LA(LG(M)))  &trans             &trans             &trans
                                   &kp LG(LS(GRAVE))  &kp LG(GRAVE)                                                                                      &trans             &trans
                                                                         &trans &trans &trans &trans              &trans             &trans             &trans             &trans
                                                                                        &trans &trans              &trans             &trans
            >;
        };

        // mouse_layer {
        //     // Layer 3: Mouse Control (hold D)
        //     // Left: transparent                     Right: mouse movement and clicks
        //     // -----------------------------------------
        //     // _     _     _     _     _             _     LCLK  UP    RCLK  _
        //     // _     _     _     _     _             _     LEFT  DOWN  RGHT  _
        //     // _     _     _     _     _             _     _     MCLK  _     _
        //     //       _     _                                     _     _
        //     //             _     _     _     _       _     _     _     _
        //     //                         _     _       _     _
        //     bindings = <
        //         &trans  &trans  &trans  &trans  &trans                &trans          &mkp LCLK        &mmv MOVE_UP    &mkp RCLK         &trans
        //         &trans  &trans  &trans  &trans  &trans                &trans          &mmv MOVE_LEFT   &mmv MOVE_DOWN  &mmv MOVE_RIGHT   &trans
        //         &trans  &trans  &trans  &trans  &trans                &trans          &trans           &mkp MCLK       &trans            &trans
        //                 &trans  &trans                                                                 &trans          &trans
        //                                 &trans  &trans  &trans &trans     &trans      &trans           &trans          &trans
        //                                                 &trans &trans     &trans      &trans
        //     >;
        // };

        // media_layer {
        //     // Layer 4: Media Controls (hold F)
        //     // Left: transparent                     Right: media and brightness
        //     // -----------------------------------------
        //     // _     _     _     _     _             _     PREV  PL/PA NEXT  _
        //     // _     _     _     _     _             _     MUTE  VOL-  VOL+  _
        //     // _     _     _     _     _             _     _     BRI-  BRI+  _
        //     //       _     _                                     _     _
        //     //             _     _     _     _       _     _     _     _
        //     //                         _     _       _     _
        //     bindings = <
        //         &trans  &trans  &trans  &trans  &trans                            &trans   &kp C_PREV     &kp C_PP      &kp C_NEXT    &trans
        //         &trans  &trans  &trans  &trans  &trans                            &trans   &kp C_MUTE &kp C_VOL_DN  &kp C_VOL_UP  &trans
        //         &trans  &trans  &trans  &trans  &trans                            &trans   &trans         &kp C_BRI_DN  &kp C_BRI_UP  &trans
        //                 &trans  &trans                                                                    &trans        &trans
        //                                 &trans  &trans  &trans &trans     &trans  &trans   &trans         &trans
        //                                                 &trans &trans     &trans  &trans
        //     >;
        // };

    };
};
